Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/3.DADOS/microdados_enade_2019.txt
Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/2.INPUTS/Spss_input_enade_2019.sps
Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/2.INPUTS/Sas_input_enade_2019.sas
Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/2.INPUTS/R_input_enade_2019.r
Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/1.LEIA-ME/Questionário do Estudante_Enade_Ediç╞o 2019.pdf
Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/1.LEIA-ME/Manual do usuário 2019.pdf
Mod.01 - Fundamentos da Engenharia de Dados/01.Dados_Publicos_Enade/enade_2019/microdados_enade_2019/2019/1.LEIA-ME/Dicionário de variáveis dos Microdados do Enade 2019.xlsx
